<a href="https://colab.research.google.com/github/awenroberts/QM2-Project/blob/main/asylum_seekers_receiving_support_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount google drive in colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#check path of file exists, print True if yes, False if not
import os

path = "/content/drive/MyDrive/Prifysgol_UCL/2nd Year Modules/1 QM II/QM II PROJECT/Copy support-local-authority-datasets-sep-2025.xlsx"

os.path.exists(path)

True

In [ ]:
import pandas as pd

df = pd.read_excel(
    "/content/drive/MyDrive/Prifysgol_UCL/2nd Year Modules/1 QM II/QM II PROJECT/Copy support-local-authority-datasets-sep-2025.xlsx",
    sheet_name="Data_Asy_D11_2020_2025",
    engine="openpyxl"
)

df.head()

,Date (as at…),Quarter,Year-Quarter,Support Type,UK Region / Nation,Local Authority,LAD Code,Accommodation Type,People
0,2020-03-31,Q1,2020 Q1,Section 4,East Midlands,Broxtowe,E07000172,Dispersal Accommodation,1
1,2020-03-31,Q1,2020 Q1,Section 4,East Midlands,Derby,E06000015,Dispersal Accommodation,62
2,2020-03-31,Q1,2020 Q1,Section 4,East Midlands,Leicester,E06000016,Dispersal Accommodation,140
3,2020-03-31,Q1,2020 Q1,Section 4,East Midlands,Nottingham,E06000018,Dispersal Accommodation,66
4,2020-03-31,Q1,2020 Q1,Section 4,East Midlands,Oadby and Wigston,E07000135,Dispersal Accommodation,4

In [ ]:
#check the data types
df.dtypes

Date (as at…)         datetime64[ns]
Quarter                       object
Year-Quarter                  object
Support Type                  object
UK Region / Nation            object
Local Authority               object
LAD Code                      object
Accommodation Type            object
People                         int64
dtype: object

In [ ]:
#change the data types accordingly so we can work with the data usign pandas
df['Quarter']=df['Quarter'].astype('category')
df['Local Authority']=df['Local Authority'].astype('category')
df['UK Region / Nation']=df['UK Region / Nation'].astype('category')
df['LAD Code']=df['LAD Code'].astype('string')
df['Accommodation Type']=df['Accommodation Type'].astype('category')
df['People']=df['People'].astype('int64')

In [ ]:
#rename the columns to make things easier later
df = df.rename(columns={
    "Date (as at…)": "date",
    "Quarter": "quarter",
    "Year-Quarter": "year_quarter",
    "Support Type": "support_type",
    "UK Region / Nation": "region",
    "Local Authority": "local_authority",
    "LAD Code": "lad_code",
    "Accommodation Type": "accommodation_type",
    "People": "people"
})

In [ ]:
#convert the date column
df["date"] = pd.to_datetime(df["date"], errors="coerce")

#check it worked
df["date"].min(), df["date"].max()

#create proper quarterly time variable
df["year_quarter"] = df["date"].dt.to_period("Q")

In [ ]:
#make new dataframes for each support type
df_95 = df[df["support_type"] == "Section 95"].copy()
df_98 = df[df["support_type"] == "Section 98"].copy()
df_4 = df[df["support_type"] == "Section 4"].copy()

In [ ]:
#summary statistics
df_95["people"].describe()

count    11499.000000
mean       147.065919
std        308.827287
min          1.000000
25%          5.000000
50%         27.000000
75%        150.000000
max       4650.000000
Name: people, dtype: float64

In [ ]:
df_95.groupby("local_authority")["people"].sum().sort_values(ascending=False)

/tmp/ipython-input-1972495405.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_95.groupby("local_authority")["people"].sum().sort_values(ascending=False)

local_authority
Glasgow City                       85308
Birmingham                         47289
Liverpool                          40858
Belfast                            33475
Hillingdon                         32903
                                   ...
Argyll and Bute                        1
Mid Ulster                             1
Selby                                  1
Hambleton                              0
N/A - Section 98 (pre-Dec 2022)        0
Name: people, Length: 368, dtype: int64

In [ ]:
df_95.groupby("accommodation_type")["people"].sum()

/tmp/ipython-input-3443948155.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_95.groupby("accommodation_type")["people"].sum()

accommodation_type
Contingency Accommodation - Hotel     366995
Contingency Accommodation - Other      23235
Dispersal Accommodation              1186458
Initial Accommodation                  14528
N/A - Section 98 (pre-2023)                0
Other Accommodation                     6012
Subsistence Only                       89234
Subsistence only                        4649
Name: people, dtype: int64

In [ ]:
df_95.groupby("year_quarter")["people"].sum()

In [ ]:
df.head()

,date,quarter,year_quarter,support_type,region,local_authority,lad_code,accommodation_type,people
0,2020-03-31,Q1,2020Q1,Section 4,East Midlands,Broxtowe,E07000172,Dispersal Accommodation,1
1,2020-03-31,Q1,2020Q1,Section 4,East Midlands,Derby,E06000015,Dispersal Accommodation,62
2,2020-03-31,Q1,2020Q1,Section 4,East Midlands,Leicester,E06000016,Dispersal Accommodation,140
3,2020-03-31,Q1,2020Q1,Section 4,East Midlands,Nottingham,E06000018,Dispersal Accommodation,66
4,2020-03-31,Q1,2020Q1,Section 4,East Midlands,Oadby and Wigston,E07000135,Dispersal Accommodation,4

In [ ]:
df.describe()

                                date        people
count                          17643  17643.000000
mean   2023-06-11 05:42:23.444992256    119.944170
min              2020-03-31 00:00:00      1.000000
25%              2022-03-31 00:00:00      4.000000
50%              2023-06-30 00:00:00     18.000000
75%              2024-09-30 00:00:00     86.000000
max              2025-09-30 00:00:00  37142.000000
std                              NaN    558.524507

In [ ]:
#get rid of the national level data and put it into a new dataframe
df = df[~df["lad_code"].str.startswith("N/A", na=False)].copy()
df_national = df[df["lad_code"].isna() | df["lad_code"].str.startswith("N/A", na=False)]

In [ ]:
df_national.head()

,date,quarter,year_quarter,support_type,region,local_authority,lad_code,accommodation_type,people
90,2020-03-31,Q1,2020Q1,Section 4,Unknown,Unknown,<NA>,Dispersal Accommodation,9
401,2020-03-31,Q1,2020Q1,Section 95,Unknown,Unknown,<NA>,Dispersal Accommodation,31
402,2020-03-31,Q1,2020Q1,Section 95,Unknown,Unknown,<NA>,Subsistence Only,33
559,2020-06-30,Q2,2020Q2,Section 4,Unknown,Unknown,<NA>,Dispersal Accommodation,54
882,2020-06-30,Q2,2020Q2,Section 95,Unknown,Unknown,<NA>,Dispersal Accommodation,16